<div class="auth-layout">
  <div class="auth-layout__card">
    <%= image_tag "logo.svg", class: "auth-layout__logo", alt: "Mercurio" %>

    <h1 class="auth-layout__title"><%= t("auth.sign_up") %></h1>

    <%= form_with model: @user, url: registration_path, class: "form" do |form| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= t("auth.errors", count: @user.errors.count) %></h2>
          <ul>
            <% @user.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :email_address, t("auth.email") %>
        <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "email", placeholder: t("auth.email_placeholder") %>
      </div>

      <div class="field">
        <%= form.label :password, t("auth.password") %>
        <%= form.password_field :password, required: true, autocomplete: "new-password", placeholder: t("auth.create_password_placeholder") %>
      </div>

      <div class="field">
        <%= form.label :password_confirmation, t("auth.confirm_password") %>
        <%= form.password_field :password_confirmation, required: true, autocomplete: "new-password", placeholder: t("auth.confirm_password_placeholder") %>
      </div>

      <div class="form__actions">
        <%= form.submit t("auth.sign_up"), class: "btn btn--primary btn--block" %>
      </div>
    <% end %>

    <p class="auth-layout__footer">
      <%= t("auth.already_have_account") %> <%= link_to t("auth.sign_in_link"), new_session_path %>
    </p>
  </div>
</div>
