<%# Inline editable select - styled native select with customizable options
    locals:
      - url: the update URL
      - field: the field name (e.g., "status")
      - value: current value
      - options: hash of value => label (e.g., { "done" => "Done", "todo" => "To Do" })
      - badge_class: optional CSS class prefix for badges (default: "status-badge status-badge--")
%>
<% badge_prefix ||= "status-badge status-badge--" %>
<select class="inline-select"
        data-controller="inline-select"
        data-inline-select-url-value="<%= url %>"
        data-inline-select-field-value="<%= field %>"
        data-action="change->inline-select#select">
  <button type="button">
    <selectedcontent></selectedcontent>
  </button>
  <% options.each do |val, label| %>
    <option value="<%= val %>" <%= 'selected' if val.to_s == value.to_s %>>
      <span class="inline-select__option <%= badge_prefix %><%= val %>"><%= label %></span>
    </option>
  <% end %>
</select>
