<nav>
  <%= link_to "Home", root_path %> |
  <%= link_to "Contacts", contacts_path %> |
  <%= link_to "Companies", companies_path %> |
  <%= link_to "Emails", emails_path %> |
  <%= button_to "Sign out", session_path, method: :delete %>
</nav>
<hr>
