<h1>Contacts</h1>

<p><%= @contacts.count %> contacts</p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Companies</th>
    </tr>
  </thead>
  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= link_to contact.name.presence || "(No name)", contact %></td>
        <td><%= link_to contact.email, contact %></td>
        <td>
          <% contact.companies.each do |company| %>
            <%= link_to company.display_name, company_path(company) %><%= ", " unless company == contact.companies.last %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
