<%= link_to t("contacts.back"), contacts_path, class: "back-link" %>

<div class="page-header">
  <h1 class="page-header__title"><%= @contact.name.presence || @contact.email %></h1>
</div>

<div class="info-card margin-block-end-double">
  <dl>
    <dt><%= t("contacts.fields.email") %></dt>
    <dd><%= @contact.email %></dd>

    <dt><%= t("contacts.fields.name") %></dt>
    <dd><%= render "shared/inline_edit_field", url: contact_path(@contact), field: "name", value: @contact.name %></dd>

    <dt><%= t("contacts.fields.job_role") %></dt>
    <dd><%= render "shared/inline_edit_field", url: contact_path(@contact), field: "job_role", value: @contact.job_role %></dd>

    <dt><%= t("contacts.fields.department") %></dt>
    <dd><%= render "shared/inline_edit_field", url: contact_path(@contact), field: "department", value: @contact.department %></dd>

    <dt><%= t("contacts.fields.phone_numbers") %></dt>
    <dd><%= render "shared/inline_edit_field", url: contact_path(@contact), field: "phone_numbers", value: @contact.phone_numbers&.join(", "), placeholder: t("contacts.placeholders.phone_numbers") %></dd>

    <dt><%= t("contacts.fields.companies") %></dt>
    <dd>
      <% if @contact.companies.any? %>
        <ul>
          <% @contact.companies.each do |company| %>
            <li><%= link_to company.display_name, company %></li>
          <% end %>
        </ul>
      <% else %>
        <span class="txt-subtle"><%= t("contacts.not_linked") %></span>
      <% end %>
    </dd>
  </dl>
</div>

<%= render "shared/audit_log_section", record: @contact %>
