<div class="auth-layout">
  <div class="auth-layout__card">
    <%= image_tag "logo.svg", class: "auth-layout__logo", alt: "Mercurio" %>

    <h1 class="auth-layout__title"><%= t("auth.forgot_password") %></h1>

    <div class="flash-container">
      <% if flash[:alert] %>
        <div class="flash flash--alert"><%= flash[:alert] %></div>
      <% end %>
      <% if flash[:notice] %>
        <div class="flash flash--notice"><%= flash[:notice] %></div>
      <% end %>
    </div>

    <p class="txt-subtle margin-block-end"><%= t("auth.forgot_password_intro") %></p>

    <%= form_with url: passwords_path, class: "form" do |form| %>
      <div class="field">
        <%= form.label :email_address, t("auth.email") %>
        <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "email", placeholder: t("auth.email_placeholder"), value: params[:email_address] %>
      </div>

      <div class="form__actions">
        <%= form.submit t("auth.send_reset_link"), class: "btn btn--primary btn--block" %>
      </div>
    <% end %>

    <p class="auth-layout__footer">
      <%= link_to t("auth.back_to_sign_in"), new_session_path %>
    </p>
  </div>
</div>
