<div class="auth-layout">
  <div class="auth-layout__card">
    <%= image_tag "logo.svg", class: "auth-layout__logo", alt: "CRM" %>

    <h1 class="auth-layout__title">Forgot password?</h1>

    <div class="flash-container">
      <% if flash[:alert] %>
        <div class="flash flash--alert"><%= flash[:alert] %></div>
      <% end %>
      <% if flash[:notice] %>
        <div class="flash flash--notice"><%= flash[:notice] %></div>
      <% end %>
    </div>

    <p class="txt-subtle margin-block-end">Enter your email and we'll send you a link to reset your password.</p>

    <%= form_with url: passwords_path, class: "form" do |form| %>
      <div class="field">
        <%= form.label :email_address, "Email" %>
        <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "email", placeholder: "you@example.com", value: params[:email_address] %>
      </div>

      <div class="form__actions">
        <%= form.submit "Send reset link", class: "btn btn--primary btn--block" %>
      </div>
    <% end %>

    <p class="auth-layout__footer">
      <%= link_to "Back to sign in", new_session_path %>
    </p>
  </div>
</div>
