<%= link_to t("emails.back"), emails_path, class: "back-link" %>

<div class="page-header">
  <h1 class="page-header__title"><%= @email.subject.presence || t("emails.no_subject") %></h1>
</div>

<div class="email-card">
  <div class="email-card__meta">
    <dl>
      <dt><%= t("emails.fields.from") %></dt>
      <dd>
        <% if @email.from_address.present? %>
          <%= @email.from_address["name"] %> &lt;<%= @email.from_address["email"] %>&gt;
          <% if @email.contact %>
            (<%= link_to @email.contact.name || @email.contact.email, contact_path(@email.contact) %>)
          <% end %>
        <% else %>
          <%= t("emails.unknown") %>
        <% end %>
      </dd>

      <dt><%= t("emails.fields.to") %></dt>
      <dd>
        <% if @email.to_addresses.present? %>
          <% @email.to_addresses.each do |recipient| %>
            <%= recipient["name"] %> &lt;<%= recipient["email"] %>&gt;<br>
          <% end %>
        <% else %>
          <%= t("emails.none") %>
        <% end %>
      </dd>

      <% if @email.cc_addresses.present? %>
        <dt><%= t("emails.fields.cc") %></dt>
        <dd>
          <% @email.cc_addresses.each do |recipient| %>
            <%= recipient["name"] %> &lt;<%= recipient["email"] %>&gt;<br>
          <% end %>
        </dd>
      <% end %>

      <dt><%= t("emails.fields.date") %></dt>
      <dd><%= @email.sent_at&.strftime("%Y-%m-%d %H:%M:%S %Z") %></dd>

      <% if @email.file_attachments.any? %>
        <dt><%= t("emails.fields.attachments") %></dt>
        <dd>
          <ul>
            <% @email.file_attachments.each_with_index do |att, index| %>
              <li>
                <%= link_to att.filename, download_email_path(@email, index: index), data: { turbo: false } %>
                <small class="txt-muted">(<%= att.content_type %>, <%= number_to_human_size(att.byte_size) %>)</small>
              </li>
            <% end %>
          </ul>
        </dd>
      <% end %>
    </dl>
  </div>

  <div class="email-card__body">
    <%= render_email_html(@email) %>
  </div>
</div>
